<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        
      </div>
    </div>
    <% if(user) { %>
      <p style="color:black;padding:10px; margin:0">Logged in as: <%= user.email %></p>
      <form class="form-inline" action="/logout %>" method="POST">
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
   <% } else { %>
    <a class="nav-item nav-link" href="/login">Login</a>
    <a class="nav-item nav-link" href="/register">Register</a>
    <% } %>
  </nav>
</header>
